<div class="autoLoad" style="display: none;">true</div>
<div class="container-full weather-container-full">
    <p class="weather-last-update"> Last updated: <%= pageWeather.date.toLocaleTimeString("en-us") %></p>
    <div class="weather-container vertical-center">
        <div class="weather-sub-container horizontal-center">
            <h2 class="weather-city-name"><%= pageWeather.cityName %></h2>
            <p>
                <img class="weather-img" src="http://openweathermap.org/img/w/<%= pageWeather.icon %>.png">
                <span class="weather-temperature"><%= pageWeather.temperature %>,</span>
                <span class="weather-main"><%= pageWeather.main %></span>
            </p>
        </div>
        <br>
        <div class="weather-hourly-container horizontal-center">
            <% for(let i = 0; i < pageWeather.hours.length; i++) { let hour = pageWeather.hours[i]; %>

                <div class="weather-hour-container">
                    <h3 class="hour-date"><%= hour.date %></h3>
                    <div class="weather-min bg-info"><%= hour.min %></div>
                    <div class="weather-max bg-danger"><%= hour.max %></div>
                    <div class="hour-weather-main"><%= hour.main %></div>
                </div>
                
            <% } %>
        </div>
    </div>
</div>

<% include ../templates/scripts.ejs %>